{%  extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <h1>Profiles</h1>
            <ul>
                {% for profile in profiles %}
                    <li><a href="/profile/{{ profile.id }}">{{ profile.data.playerName }} ({{ profile.id }})</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            <h1>Matches</h1>
            <ul>
                {% for match in matches %}
                    <li><a href="/match/{{ match.id }}">{{ match.id }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            <h1>Job queue</h1>
            <ul>
                {% for job in jobs %}
                    <li><a href="/{{ job.type }}/{{ job.id }}">{{ job.type }} - {{ job.id }} (attempts: {{ job.attempts }})</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
