{% extends "bootstrap_base.html" %}
{% block body_content %}
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">WebDota</a>
                <ul class="nav">
                    <li></li>
                </ul>

                <form class="navbar-form pull-right" action="/search">
                    <select name="type" class="span2">
                        <option value="account">Account</option>
                        <option value="match">Match</option>
                    </select>
                    <input name="id" type="text" class="span2" placeholder="ID">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="flash alert {{ "alert-" + category if category != "message" else ""}}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
    <hr>
    <div class="container">
        <p class="muted">© <a href="http://rjackson.me">RJ</a>, PROBABLY.</p>
    </div>
{% endblock %}


{%- block style_navbar_padding %}
{%- endblock style_navbar_padding %}

{% block bootstrap_js_bottom %}
    {{ super() }}
    <script type="text/javascript">
    // Javascript to enable link to tab
    var hash = document.location.hash;
    var prefix = "tab_";
    if (hash) {
        $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
    }

    // Change hash for page-reload
    $('.nav-tabs a').on('shown', function (e) {
        window.location.hash = e.target.hash.replace("#", "#" + prefix);
    });
    </script>
{% endblock %}
