<dl class="dl-horizontal">
    <dt>accountId</dt>
    <dd>{{ profile.passportData.accountId }}&nbsp;</dd>
    <dt>result</dt>
    <dd>{{ profile.passportData.result }}&nbsp;</dd>
    <dt>eastQualifiers</dt>
    <dd>
        <pre>{{ profile.passportData.eastQualifiers|prettyprint }}</pre>
    </dd>
    <dt>westQualifiers</dt>
    <dd>
        <pre>{{ profile.passportData.westQualifiers|prettyprint }}</pre>
    </dd>
    <dt>international</dt>
    <dd>
        <pre>{{ profile.passportData.international|prettyprint }}</pre>
    </dd>
    <dt>eastQualifiersPredictEndTime</dt>
    <dd>{{ profile.passportData.eastQualifiersPredictEndTime }}&nbsp;</dd>
    <dt>westQualifiersPredictEndTime</dt>
    <dd>{{ profile.passportData.westQualifiersPredictEndTime }}&nbsp;</dd>
    <dt>allstarMatchEndTime</dt>
    <dd>{{ profile.passportData.allstarMatchEndTime }}&nbsp;</dd>
    <dt>leagueGuesses</dt>
    <dd>
        <pre>{{ profile.passportData.leagueGuesses|prettyprint }}</pre>
    </dd>
    <dt>eastQualifiersWinnerTeamId</dt>
    <dd>{{ profile.passportData.eastQualifiersWinnerTeamId }}&nbsp;</dd>
    <dt>eastQualifiersRunnerUpTeamId</dt>
    <dd>{{ profile.passportData.eastQualifiersRunnerUpTeamId }}&nbsp;</dd>
    <dt>westQualifiersWinnerTeamId</dt>
    <dd>{{ profile.passportData.westQualifiersWinnerTeamId }}&nbsp;</dd>
    <dt>westQualifiersRunnerUpTeamId</dt>
    <dd>{{ profile.passportData.westQualifiersRunnerUpTeamId }}&nbsp;</dd>
    <dt>passportsBought</dt>
    <dd>{{ profile.passportData.passportsBought }}&nbsp;</dd>
    <dt>originalPurchaserId</dt>
    <dd>{{ profile.passportData.originalPurchaserId }}&nbsp;</dd>
</dl>
